<mat-card class="example-card">
<mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Dodge</mat-card-title>
    <mat-card-subtitle>Dog Breed - SGD 2000</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
    <p>
    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.
    </p>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="primary" (click)="buy()">BUY</button>
</mat-card-actions>
</mat-card>