<mat-toolbar class="green">
  <mat-toolbar-row [style.backgroundColor]="'#81DF95'">
      <span >Pet Store</span>
      <span class="example-spacer"></span>
      <span> &nbsp;</span>
      
 </mat-toolbar-row>
</mat-toolbar>
<body>
<router-outlet></router-outlet>
</body>
