<mat-card class="example-card">
<mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Dodge</mat-card-title>
    <mat-card-subtitle>Dog Breed - SGD 2000</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
    <h2>Available Stock: {{quantity}}</h2>
</mat-card-content>
</mat-card>